body{
    border-style: groove;
    border-width: 10px;
}
.mainDiv{
    height: 100%;
    width: 100%;
    border-color: darkblue;
    border-style: solid;
}
.headerRow{
    height: 10%;
}
.menuPart{
    height: -webkit-fill-available;
}
.tasks{
    height: 20%;
    background-color: rgb(1, 221, 203);
}
.taskList{
    height: -webkit-fill-available;
    border-style: outset;
    border-width: 15px;
}
.task-board-header{
    padding-top: 2%;
}
.font-weight-bold{
    font-weight: bold;
}
.text-align-center{
    text-align: center;
}
.margin-left-align{
    margin-left: 4%;
}
.save-task-modal{
    margin-top: -38px;
    margin-left: 400px;
}
/* Darker background-color on hover */
ul li:hover{
    background: #ddd;
}